
.navWrapper {
	background: url("../images/top-border-gradient.png") repeat-x;
}

.bannerWrapper {
	position: absolute;
	top: 148px; left: 0; right: 0;
}
.bannerWrapper .columnLayout {
	width: 1024px;
}
.headerWrapper header {
	padding: 8px 0;
	z-index:10;
}

.blueWrapper {
	height: 160px;
	border-bottom: 1px solid #7E8EA0;

}

.headerWrapper {
	position: absolute;
	top: 40;
	z-index: 10;
	left: 0;
	right: 0;
	top: 73px;
	
}
.headerWrapper header {
	padding: 8px 0;
	border-radius: 8px 8px 0 0;
	margin-bottom: 1px;
	padding: 2px 0 2px 0;
	background-color: #101010;
}


.contentWrapper {
	margin-top: 296px;
}

.contentWrapper .columnLayout {
  padding: 24px 0;
}


.border_gradient {
  background-image: url(../images/border-gradient.png);
  background-repeat: repeat-x;
  background-size: 100% 40px;
  height: 40px;
  position: absolute;
  left:0; right:0; top: 162px;
}