
.navWrapper {
	background: url("../images/border-gradient.png") repeat-x;
}

.bannerWrapper {
	position: absolute;
	top: 160px; left: 0; right: 0;
	background-color: #275787;
    border-bottom: 3px solid #738FAB;
    border-top: 1px solid #656E78;
}
.bannerWrapper .columnLayout {
	width: 1024px;
	background-color: #4977A6;
}

.blueWrapper {
	height: 160px;
	border-bottom: 1px solid #7E8EA0;

}

.headerWrapper {
	position: absolute;
	top: 40px;
	z-index: 10;
	left: 0;
	right: 0;
	background-color: #103C69;
    border-top: 1px solid #575A5E;
	
}
.headerWrapper .header {
	padding: 8px 0;
	border-radius: 8px 8px 0 0;
	margin-bottom: 1px;
	padding: 2px 0 2px 0;
	z-index:10;
}


.contentWrapper {
	margin-top: 296px;
}

.contentWrapper .columnLayout {
	padding: 24px 0;
}


.borderWrapper {
	height: 40px;
	position: absolute;
	left:0; right:0; top: 120px;
}

.borderWrapper .border {
	height: 40px;
 	background-image: url(../images/border-gradient.png);
 	background-repeat: repeat-x;
 	background-size: 100% 40px;
 	width: 1020px;
}

.borderWrapper .primary .siding {
	width: 1020px;
	height: 40px;
	background-color: #275787;
	position: relative;
}