
.full {
	width: 100%;
}

.fullHeight {
	height: 100%;
}

div.center { text-align: center; }
div.center > span { display: inline-block;}

div.columnLayout { clear: left; }

div.columnLayout > div.inner {
	float: left;
	border: none !important;
	padding-left: 0 !important; padding-right: 0 !important;
	margin-left: 0 !important; margin-right: 0 !important;
}

div.columnLayout1 > div.inner {	width: 100%; }
div.columnLayout2 > div.inner {	width: 50%; }
div.columnLayout3 > div.inner { width: 33.33%; }
div.columnLayout4 > div.inner {	width: 25%; }
div.columnLayout5 > div.inner {	width: 20%; }


div.nav {
	width: 100%;
	position: relative;
}

div.nav.alignCenter > ul { text-align: center; }
div.nav.alignLeft > ul { text-align: left; }
div.nav.alignRight > ul { text-align: right; }

div.nav li { display: inline-block; text-align: center; }
div.nav a { text-decoration: none; display: block;}
div.nav li ul { position: absolute; top: 100%; visibility: hidden;}
div.nav li:hover ul { visibility: visible; }

div.nav li ul li { display: block; text-align: left; }

div.nav a.contains {
	border-right: 8px solid transparent; position: relative;
}

div.nav .caret {
  top: 8px;
  right: -8px;

  position: absolute;
}

div.nav li:hover .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}



/* testing below here */


div.border {
	border-left: 1px solid black;
}

a.pictureLink.sports {
	background-color: red;
	width: 200px;
	height: 103px;
}

a.pictureLink {
	display: block; 
	height: 100%;
}

a.pictureLink.centerBottom {
	display: table-cell;
	vertical-align: bottom;
	text-align: center;
}

a.pictureLink.leftCenter {
	display: table-cell;
	vertical-align: middle;
	text-align: left;
}

